<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

  <style>
    * {
      font-size: 16px;
    }

    .card-body {max-height:300px;overflow:auto;}
  </style>


  <!-- style sheet -->
  <link rel="stylesheet" href="/style/style.css">
  <!-- page title -->
  <title>NeighbourMaid | courses List</title>
</head>

<body>
  <!-- navbar -->
  <%- include('_housemaid-nav')%>
    <!-- end of navbar -->




    <!-- courses grid -->
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex flex-row justify-content-between align-items-center filters">
            <h6></h6>
            <!-- this is essential -->
            <!-- <h6>Showing <1%= courses.length %> courses</h6> -->
            <div class="right-sort">
              <div class="sort-by">
                <h6>Showing <%= courses.length %> courses</h6>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- courses view begin here -->
      <div class="row mt-1 pb-4">
          <div class="card-deck">
          <% courses.forEach(course=>{ %>
            <!-- single course -->
            <div class="col-md-4 py-2">
              <div class="p-card  p-1 rounded">
                <!-- img -->
                <!-- <img class="card-img-top img-responsive" src="..\..\public\img\courses\cleaning_2.jpg" alt="Card image cap"
              width="100px" height="200px"> -->
                <img class="card-img-top img-responsive" src="https://en.pimg.jp/069/675/674/1/69675674.jpg"
                  alt="Card image cap" width="100px" height="200px">
                <!-- body -->
                <h5 class="card-title text-center">
                  <%= course.courseTitle %>
                </h5>
                <h6 class="text-center">

                <span class="badge badge-danger text-center">
                  <%= course.courseCategory %>
                </span>
              </h6>
                <div class="card-body">
                  <span class="d-block mb-5">
                    <%= (course.courseIntro).slice(0,300) %>
                  </span>
                  <!-- <a href="./courses/<course.courseId%>" class="btn btn-primary w-100">Enroll Now</a> -->
                </div>
                <a href="/housemaid/courses/<%= course.courseId %>" class="btn btn-primary w-100">Enroll Now</a>
              </div>
            </div>
            <!-- course end  -->
            <% }) %>
        </div>
      </div>
    </div>
    <!-- pagination -->

    <div class="d-flex justify-content-end text-right mt-2">

      <!-- <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul> -->
      <% if(page>1){ %>
        <a href="/housemaid/courses?page=<%=page-1%>" class="btn btn-lg btn-light"><span
            class="fa fa-arrow-left"></span></a>
        <%}%>
          <div class="btn btn-lg btn-light ">
            <%=page%>
          </div>
          <% if(page<pageCount){ %>
            <a href="/housemaid/courses?page=<%=page+1%>" class="btn btn-lg btn-light"><span
                class="fa fa-arrow-right"></span></a>
            <%}%>
    </div>
    <!-- pagination end-->

    </div>
    <!-- coureses -->

    <div id="google_translate_element"></div>
    <!-- Footer -->
    <%- include('_housemaid-footer')%>
      <!-- end of footer -->

      <!-- Optional JavaScript -->
      <script src="script.js"></script>
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
      <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
      </script>

      <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>