<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <!-- style sheet -->
  <link rel="stylesheet" href="../../public/style/style.css">
  <style>
     * {
      font-size: 15px;
    }
  </style>
  <!-- page title -->
  <title>NeighbourMaid | Home</title>
</head>

<body>
  <!-- navbar -->
  <%- include('_housemaid-nav')%>
    <!-- end of navbar -->

    <!-- housemaid  details screen -->
    <section id="housemaid-details" style="background-color:#e9ecef">
      <div class="container">
        <div class="row">
          <div class="col-7">
            <div class="jumbotron " id="housemaid-dashborad-jumbotron">
              <h1 class="display-4">
                Hello, <%= user.userName%>
                  <span id="user-verified-status"><i class="fas fa-user-check"></i></span>
              </h1>
              <p class="lead">If your service is avialable/unemployed or currently unavialable/already employed please
                make sure to adjust the service avialibility status accordingly.
              </p>
              <h3>my service region</h3>
              <h3> my service location</h3>
              <hr class="my-4">
              <div class="row">
                <div class="col-9">
                  <p></p>
                  <p> Service Avialibility Status</p>
                </div>
                <div class="col-3">
                  <p class="lead">
                    <input type="checkbox" id="housemaid-status-checkbox" checked data-toggle="toggle"
                      data-on="Avialable" data-off="Not Avialable" data-onstyle="success" data-offstyle="danger">
                  </p>


                </div>
              </div>
              <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
              </p>
            </div>
          </div>
          <!-- <div class="col-5">
      </div> -->
        </div>
      </div>
    </section>


    <!-- end of  housemaid  details screen -->

    <!-- view householder requests section -->
    <section id="householder-request-section">
      <div class="container  pt-4">
        <!-- question-->

        <h2>My Employee Interviews</h2>
        <!-- review -->
        <div class="householder-list">
          <div class="row">
            <div class="table-responsive py-5">
              <table class="table table w-auto">
                <thead>
                  <tr>
                    <th scope="col">Householder</th>
                    <th scope="col">Message</th>
                    <th scope="col">First</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody class>
                <% appointments.forEach(appointment=>{ %>
                  <!-- interview entry -->
                  <tr>
                    <!-- image column  -->
                    <td>
                      <div class="row">
                        <div class="col-6 pr-0 ">
                          <div class="img-container d-flex justify-content-start p-0 m-0">
                            <img src="./person-1.jpeg" id="householder-interview-request-img" alt="" />
                          </div>
                        </div>
                        <div class="col-6">
                          <pre id="householder-name"><%= appointment.houseownerName %></pre>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p>
                       <%= appointment.message %>
                      </p>
                    </td>
                    <!-- time -->
                    <td>
                      <%= appointment.extractedDate %>
                      <!-- <h5>Fri,Jan 23 </h5>
                      <small>9.45 AM</small> -->
                    </td>
                    
                    <!-- action column -->
                    <td>
                      <a href='/housemaid/videoChat/<%= appointment.houseownerId %>'  class="btn btn-success px-4">join</a>
                     
                    </td>
                  </tr>
                  <!-- end of interview entry -->
              <% }) %>

                  
                </tbody>
              </table>
            </div>

          </div>

        </div>



      </div>
      </div>
    </section>
    <!-- end of view householder requests section-->


    <!-- Footer -->
    <%- include('_housemaid-footer')%>
      <!-- end of footer -->











      <!-- Optional JavaScript -->
      <script src="script.js"></script>
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
      <!-- bootstrap toggle button -->
      <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
      <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

</body>

</html>