<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Admin||Courses Section</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <!-- booostrap icons cdn  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="../../public/style/admin-dashboard.css">
</head>

<body>
  <!-- navbar -->
  <%-include('_admin-nav') %>
    <!-- navbar -->
    <div class="container-fluid">
      <div class="row">
        <!-- sidebar -->
        <%-include('_admin-sidebar') %>
          <!-- sidebar -->
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <!-- notification -->
            <!-- create -->
            <!-- alert  notification  -->


            <!-- notification  -->
            <!-- notification -->

            <div class="container pt-5 pb-5">
              <div class="row">
                <div class="col-6 pb-3">
                  <h1>Houseowners</h1>
                </div>
                <div class="col-6 ">
                  <div class="text-center d-flex justify-content-end">
                    <a href="" type="button" class="btn btn-small btn-primary ">
                      Add Houseowner
                    </a>
                  </div>
                </div>
              </div>

              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col"> Email</th>
                    <th scope="col">Account Status</th>
                    <th scope="col">package</th>
                    <th scope="col" class="text-end">Action</th>
                  </tr>
                </thead>
                <%if(houseowners){%>
                  <tbody>
                    <% houseowners.forEach(houseowner=>{ %>
                      <tr>
                        <td>
                          <%= houseowner.userName %>
                        </td>
                        <td>
                          <%= houseowner.userEmail %>
                        </td>
                        <td>
                          <% if(houseowner.userEmailVeifiedStatus==1){%>
                            <span class="badge badge-success rounded-pill d-inline">verified</span>

                            <%}else{%>
                              <span class="badge badge-warning rounded-pill d-inline">pending activation</span>
                              <%}%>

                        </td>
                        <td class="text-end">
                          <a href="/admin/users/houseowner/<%=houseowner.userId%>" type="btn"
                            class="btn btn-light btn-small"><i class="bi bi-eye"></i>view</a>
                          <a href="" type="btn" class="btn btn-light btn-small"><i class="bi bi-pencil">edit</i></a>
                          <!-- courses/editCourse/<1%=course.courseId%>" -->
                          <!-- delete action -->
                          <form id="remove-course-form" method="DELETE" action="" class="d-inline">
                            <button type="submit" class="btn btn-light btn-small">
                              <i class="bi bi-person-x"></i>
                              delete
                            </button>
                          </form>
                        </td>
                      </tr>
                      <% }); %>
                  </tbody>
                  <% }%>
              </table>
            </div>
          </main>
      </div>
    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <!-- circular progress bar -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.0/circle-progress.min.js'></script>
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <!-- <script src="/assets/js/admin-courses-ajax.js"></script> -->
    <script>
      feather.replace()
    </script>



</html>