<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <!-- style sheet -->
  <link rel="stylesheet" href="../../public/style/style.css">
  <style>
    * {
      font-size: 15px;
    }

    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
      background-color: #333;
      border-color: #333;
    }
  </style>
  <!-- page title -->
  <title>NeighbourMaid | Home</title>
</head>

<body>
  <!-- navbar -->
  <%- include('_houseowner-nav')%>
    <!--ennd of navbar -->

    <div class="container-fluid p-3 px-5">
      <div class="row">
        <div class="col-md-8 order-md-2 col-lg-9">
          <div class="container-fluid">
            <!-- <div class="row   mb-5">
              <div class="col-12">

              </div>
            </div> -->
            <div class="row" id="maidsBoard">

              <!-- housemaid -->
              <%housemaids.forEach(housemaid=>{%>
                <div class="col-6 col-md-6 col-lg-4 mb-3">
                  <div class="card h-100 border-0">

                    <div class="card-img-top">
                      <% if(housemaid.profileImg !=='' ){%>
                        <img src="/<%=housemaid.profileImg%>" class="img-fluid mx-auto d-block"
                          style="width: 250px; height:250px" />
                        <% }else{%>

                          <img src="https://via.placeholder.com/240x240/5fa9f8/efefef" class="img-fluid mx-auto d-block"
                            alt="Card image cap">
                          <% }%>
                    </div>
                    <div class="card-body text-center">
                      <h4 class="card-title">
                        <a href="product.html" class=" font-weight-bold text-dark text-uppercase small">
                          <%= housemaid.uFName %>
                            <%= housemaid.uLName%>
                        </a>
                      </h4>
                      <h5 class="card-price small text-warning">
                        <i>
                          <s>$199</s> $99</i>
                      </h5>
                    </div>
                  </div>
                </div>
                <%}) %>
                  <!-- housemaid -->


            </div>

            <!-- category footer -->
            <div class="row sorting mb-5 mt-5">
              <div class="col-12">
                <!-- <a class="btn btn-light"> -->
                <!-- <i class="fas fa-arrow-up mr-2"></i> Back to top</a> -->
                <% let output='' %>
                  <% housemaids.length==1 ? output="Result" :output="Results" %>
                    Showing <span class="text-primary">
                      <%= housemaids.length %>
                    </span>
                    <%=output%>
                      <div class="btn-group float-md-right ml-3">
                        <% if(page>1){ %>
                          <a href="/houseowner/?page=<%=page-1%>" class="btn btn-lg btn-light"><span
                              class="fa fa-arrow-left"></span></a>
                          <%}%>
                            <div class="btn btn-lg btn-light ">
                              <%=page%>
                            </div>
                            <% if(page<pageCount){ %>
                              <a href="/houseowner/?page=<%=page+1%>" class="btn btn-lg btn-light"><span
                                  class="fa fa-arrow-right"></span></a>
                              <%}%>
                      </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 order-md-1 col-lg-3 sidebar-filter">


          <!-- search by name -->
          <form action="/houseowner/search/" method="GET" id="searchForm">
            <div class="input-group rounded">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search by Name" aria-label="Recipient's username"
                  aria-describedby="basic-addon2" name="searchInput" id="searchInput">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"
                      aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </form>

          <!-- search -->

          <!-- category 2 -->
          <div class="divider mt-4 mb-5 border-bottom border-secondary"></div>

          <div class=container" id="message">
            <!-- <div class="alert alert-danger alert-dismissible fade show py-3 text-center" role="alert" id="alert-role"
              id="message">
              <strong id="message-area">Holy guacamole!</strong>

              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div> -->
          </div>


          <h6 class="text-uppercase mt-5 mb-3 font-weight-bold">Gender</h6>
          <div class="form-group">
            <div class="container">
              <label class="radio-inline" for="Gender-0">
                <input type="radio" name="uGender" value="Male">
                Male
              </label>
              <br>
              <label class="radio-inline" for="Gender-1">
                <input type="radio" name="uGender" value="Female">
                Female
              </label>
              <br>
              <label class="radio-inline" for="Gender-2">
                <input type="radio" name="uGender" value="Other">
                Other
              </label>
            </div>
          </div>


          <h6 class="text-uppercase mt-5 mb-3 font-weight-bold">Emplyee nature</h6>
          <div class="form-group">

            <div class="container">
              <label class="radio-inline" for="Gender-0">
                <input type="radio" name="uEmpNature" value="Full_Time">
                Full Time
              </label>
              <br>
              <label class="radio-inline" for="Gender-1">
                <input type="radio" name="uEmpNature" value="Part_Time">
                Part Time
              </label>


            </div>
          </div>




          <h6 class="text-uppercase mt-5 mb-3 font-weight-bold">Requirements</h6>
          <div class="mt-2 mb-2 pl-3">

            <div class="form-check mb-2">
              <input type="checkbox" class="form-check-input filled-in" name="skillsCheckBox" value="Cleaning">
              <label class="form-check-label " for="filledInCheckbox">Cleaning</label>
            </div>
          </div>
          <div class="mt-2 mb-2 pl-3">
            <div class="form-check mb-2">
              <input type="checkbox" class="form-check-input filled-in" name="skillsCheckBox" value="Cooking">
              <label class="form-check-label " for="filledInCheckbox">Cooking</label>
            </div>
          </div>
          <div class="mt-2 mb-2 pl-3">
            <div class="form-check mb-2">
              <input type="checkbox" class="form-check-input filled-in" name="skillsCheckBox" value="Laundering">
              <label class="form-check-label " for="filledInCheckbox">Laundering</label>
            </div>
          </div>
          <div class="mt-2 mb-2 pl-3">
            <div class="form-check mb-2">
              <input type="checkbox" class="form-check-input filled-in" name="skillsCheckBox" value="Other">
              <label class="form-check-label " for="filledInCheckbox">Other</label>
            </div>
          </div>

          <!-- <button class="btn btn-lg btn-block btn-info mt-5" id="searchByRequirementsBtn"> Show Results</button> -->
          <button class="btn btn-lg btn-block btn-info mt-5" id="requirementsBtn"> Show Results</button>
          <a href="#" class="btn btn-lg btn-block btn-outline-secondary mb-5">Clear Results</a>
          <!-- </form> -->

        </div>

      </div>
    </div>

    <!-- Footer -->
    <%- include('_housemaid-footer')%>
      <!-- end of footer -->

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->

      < <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
        <script src="/houseowner_dashboard_ajax_search_requirements.js"> </script>
        <script src="/houseowner_dashboard_ajax.js"> </script>


</body>

</html>